body {
	overflow-x: hidden;
}

table {
	font-size: small;
}

table th {
	vertical-align: inherit!important;
	text-align: center;
}

table tbody tr {
	cursor: pointer;	
}

.content {
	width: 95%;
	margin: auto;
}

.cloneTemplate {
	display: none;
}

.tableData {
	text-align: center;
}

.modal-body {
	overflow-y: scroll;
	max-height: 350px;
}

#header-deadline h3 {
	float: left;
}
#header-deadline button {
	float: right;
}

#header-deadline:after {
	clear: both;
};