body {
  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 0px;
  margin: 0px;
}
.letter {
  background: #fff;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  margin:30px 0 0 3%;
  position: relative; 
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
.button_red {
   border: 0px;
   background: #D10031;
   padding: 5px 14px;
   font-size: 14px;
   color: white;
   cursor: hand;
 }
 .button_green {
   border: 0px;
   background: #50B300;
   padding: 5px 14px;
   font-size: 14px;
   color: white;
   cursor: hand;
 }
 .button_blue {
   border: 0px;
   background: #003096;
   padding: 5px 14px;
   font-size: 14px;
   color: white;
    cursor: hand;
 }

.button2_red {
   border: 0px;
   background: #570027;
   background: -webkit-gradient(linear, left top, left bottom, from(#d90000), to(#570027));
   background: -webkit-linear-gradient(top, #d90000, #570027);
   background: -moz-linear-gradient(top, #d90000, #570027);
   background: -ms-linear-gradient(top, #d90000, #570027);
   background: -o-linear-gradient(top, #d90000, #570027);
   padding: 5px 14px;
   -webkit-border-radius:px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2_red:hover {
   border-top-color: #610000;
   background: #610000;
   color: #ccc;
   }

.button2_red:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }

   .button2_green {
   border: 0px;
   background: #225200;
   background: -webkit-gradient(linear, left top, left bottom, from(#a6ff00), to(#225200));
   background: -webkit-linear-gradient(top, #a6ff00, #225200);
   background: -moz-linear-gradient(top, #a6ff00, #225200);
   background: -ms-linear-gradient(top, #a6ff00, #225200);
   background: -o-linear-gradient(top, #a6ff00, #225200);
   padding: 5px 14px;
   -webkit-border-radius:px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2_green:hover {
   border-top-color: #225200;
   background: #225200;
   color: #ccc;
   }
.button2_green:active {
   border-top-color: #a6ff00;
   background: #a6ff00;
   }
   .overlay{
  position: absolute;
  top: 100px;
  left: 28%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
